# Data Types and Structures Questions & Answers

####  1. What are data structures, and why are they important?
Ans.  Data structures are specialized formats for organizing, processing, storing, and retrieving data. They define the relationship between data elements and the operations that can be performed on them.

#### 2. Explain the difference between mutable and immutable data types with examples?

##### Ans.  

##### Mutable Data Types (Can Be Changed)

->  Mutable objects can be modified in place. That means you can change their content without changing their identity (memory address).

#####  Immutable Data Types (Cannot Be Changed)

->  Immutable objects cannot be changed after they are created. Any modification results in the creation of a new object.

In [1]:
#For Example :

#Mutable :

my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

In [5]:
#Immutable :

my_str = (10, 20, 30)
my_str[0] = 100
print(my_str)      #Output: error because it is tuple and it is immutable

TypeError: 'tuple' object does not support item assignment

#### 3. What are the main differences between lists and tuples in Python?

Ans.  The main difference between lists and tuples in Python is that lists are mutable, meaning their contents can be changed after creation, while tuples are immutable, meaning their contents cannot be modified once defined.

#### 4. Describe how dictionaries store data?

Ans.  In Python, dictionaries store data as key-value pairs. Each key is unique and maps to a corresponding value. This structure allows for fast and efficient data lookup, insertion, and deletion based on the key.

#### 5.  Why might you use a set instead of a list in Python?

Ans. You might use a set instead of a list in Python when you need to store unique items and perform fast membership testing (checking if an item is present). Sets are designed for situations where duplicates are not allowed and order does not matter.

####  6. What is a string in Python, and how is it different from a list?

Ans.  A string in Python is a sequence of characters enclosed in quotes, used to represent text. You can define a string using single ('), double ("), or triple quotes (''' or """) for multi-line text.

#### 7.  How do tuples ensure data integrity in Python?

Ans. Tuples ensure data integrity in Python by being immutable, which means that once a tuple is created, its content cannot be changed, added to, or removed from. This immutability provides a level of protection, making tuples ideal for storing fixed sets of data that should remain constant throughout the program.

#### 8. What is a hash table, and how does it relate to dictionaries in Python?

Ans.  A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index (or location) in an internal array where each value is stored. This allows for very fast data retrieval—typically in constant time, O,1.

#### 9.  Can lists contain different data types in Python?

Ans. Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning they can store a mix of integers, strings, floats, booleans, other lists, and even custom objects

#### 10.  Explain why strings are immutable in Python?

Ans. Strings are immutable in Python to ensure data integrity, improve performance, and support safe sharing of data across different parts of a program.

#### 11. What advantages do dictionaries offer over lists for certain tasks?

Ans.  Dictionaries offer several advantages over lists for specific tasks, especially when key-value associations and fast lookup are important. Here's a breakdown of those advantages:

        1. Faster Lookups
        2. Key-Based Access
        3. Avoids Duplicates in Keys

#### 12. Describe a scenario where using a tuple would be preferable over a list?

Ans. A tuple is preferable over a list when you need an immutable, fixed-size collection of items that should not change during the program’s execution.

Benefits of tuple :

        1. The structure of a transaction shouldn’t change.
        2. Immutability protects against accidental modification.

let as assume by example :

In [1]:
#Employee of any organisation have his own Emp. ID which is not
#editable, changable, or replacable.

Emp_ID = ("Darshil Mathur", 10225)    #Employee ID with name.
Emp_ID[0] = "Prince Suthar"           #Employee left the job, now update the name.
                                      #Output : it will show an "TypeError"

TypeError: 'tuple' object does not support item assignment

#### 13. How do sets handle duplicate values in Python?

Ans. In Python, sets automatically eliminate duplicate values.

        1. A set is an unordered, mutable, collection of unique elements.
        2. When you add duplicate values to a set, only one instance is kept.

#### 14. How does the “in” keyword work differently for lists and dictionaries?

Ans. The "in" keyword in Python checks for membership, but it works differently depending on the data type:

In a list, the "in" keyword checks whether a given value exists in the list.
In a dictionary, the "in" keyword checks whether a given key exists in the dictionary (not the value).

#### 15. Can you modify the elements of a tuple? Explain why or why not?

Ans. No, you cannot modify the elements of a tuple in Python.

##### Tuples are Immutable :

A tuple is an immutable data structure, meaning once it's created, its contents cannot be changed.

You cannot do :

        1. Add new elements
        2. Remove elements
        3. Change existing elements

#### 16. What is a nested dictionary, and give an example of its use case?

Ans. A nested dictionary is a dictionary within another dictionary. It allows you to organize and access hierarchical or multi-level data structures using key-value pairs at multiple levels.

#### 17. Describe the time complexity of accessing elements in a dictionary?

Ans. Dictionary access have average time complexity of 0(1) due to hashing.

#### 18. In what situations are lists preferred over dictionaries?

Ans. Lists are preferred over dictionaries in Python in situations where order matters, elements are homogeneous or sequential, and when you primarily need simple, indexed access rather than key-based lookups.

#### 19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans. Dictionaries were historically unordered because of how hashing works, which meant unpredictable iteration order.

#### 20.  Explain the difference between a list and a dictionary in terms of data retrieval?

Ans. Lists use numeric indices to retrieve items; dictionaries use unique keys.

# Practical Questions & Answers

In [3]:
#1. Write a code to create a string with your name and print it?

name = ("Darshil Mathur")
print(name)                  #Printing Name = "Darshil Mathur"

Darshil Mathur

In [4]:
#2. Write a code to find the length of the string "Hello World"?

a = "Hello World"
len(a)                     #Output : length of a = 11

11

In [5]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"?

b = "Python Programming"
b[3::]                      #Start after 3 characters of the string "Python Programming".
                            #Output : 'hon Programming'

'hon Programming'

In [6]:
#4. Write a code to convert the string "hello" to uppercase?

c = "hello"
c.upper()            #Coverting string to lower case to Upper case.

'HELLO'

In [7]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

D = "I like apple"
D.replace("apple", "orange")    #replacing the word apple to orange from "I like apple"
                                #Output = 'I like orange'

'I like orange'

In [14]:
#6. Write a code to create a list with numbers 1 to 5 and print it?

list1 = [1, 2, 3, 4, 5]
print("List =", list1)      #Output : List = [1, 2, 3, 4, 5]

List = [1, 2, 3, 4, 5]

In [15]:
#7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?

list2 = [1, 2, 3, 4]
list2.append(10)
print("List =", list2)      #adding the number 10 to the list = [1, 2, 3, 4] 
[1, 2, 3, 4]                #Output : List = [1, 2, 3, 4, 10]

List = [1, 2, 3, 4, 10]

In [16]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

list3 = [1, 2, 3, 4, 5]
list3.remove(3)                 #removing 3 from the list3 = [1, 2, 3, 4, 5]
print("List =", list3)          #Output : List = [1, 2, 4, 5]

List = [1, 2, 4, 5]

In [19]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

list4 = ['a', 'b', 'c', 'd']
list4[1]

'b'

In [22]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]?

list5 = [10, 20, 30, 40, 50]
list5[::-1]

[50, 40, 30, 20, 10]

In [23]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it?

tuple1 = (100, 200, 300)
print(tuple1)

(100, 200, 300)

In [24]:
#12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?

tuple2 = ('red', 'green', 'blue', 'yellow')
tuple2[1::]

('green', 'blue', 'yellow')

In [27]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

tuple3 = (10, 20, 5, 15)
min(tuple3)                   #output : minimum value from tuple3 is 5.

5

In [29]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?

tuple4 = ('dog', 'cat', 'rabbit')
tuple4.index("cat")       #output : "cat" index = 1

1

In [32]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?

tuple5 = ("Mango", "Orange", "Kiwi")   #plathora of fruits in mom's basket
"Kiwi" in tuple5                       #membership operator
                                       #output : True

True

In [34]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it?

set1 = {'a', 'b', 'c'}      #Set is a unique identity, it will shuffle the elements.
print(set1)                 #output : unkown sequence of {'a', 'b', 'c'}

{'c', 'b', 'a'}

In [39]:
#17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

set2 = {1, 2, 3, 4, 5}
set2.clear()             
set2                    #output : now set2's elements is removed from the memory block.

set()

In [41]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}?

set3 = {1, 2, 3, 4}
set3.remove(4) 
set3                       #Output : element 4 is removed from the set3.

{1, 2, 3}

In [44]:
#19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?

S1 = {1, 2, 3}           #Set 1 elements             
S2 = {3, 4, 5}           #Set 2 elements
S1.union(S2)             #Union : merge all elements together of S1 or S2
                         #Output : {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [45]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?

S3 = {1, 2, 3}       #Set 3 elements 
S4 = {2, 3, 4}       #Set 4 elements
S3.intersection(S4)  #Interrsection : It found the common elements of S3 & S4
                     #Output : {2, 3}

{2, 3}

In [50]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

dict1 = {"Name": "Darshil Mathur", "Age": "21", "city": "Ahmedabad, Gujarat"}
print(dict1)

{'Name': 'Darshil Mathur', 'Age': '21', 'city': 'Ahmedabad, Gujarat'}

In [51]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

dict2 = {"Name": "Bob", "Age": 22}
dict2["Country"] = ("USA")
dict2

{'Name': 'Bob', 'Age': 22, 'Country': 'USA'}

In [52]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

dict3 = {"Name":"Alice","Age":30}
dict3["Name"]

'Alice'

In [53]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}?
dict4 = {"Name":"Bob","Age":22,"City":"New York"}
dict4.pop("Age")       
dict4                   #removing age from dictonary 4.

{'Name': 'Bob', 'City': 'New York'}

In [56]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}?

dict5 = {'name': 'Alice', 'city': 'Paris'}

if "city" in dict5:
    print("Yes city is included in the dict5")
else:
    print("No, City is not included in the dictonary")

Yes city is included in the dict5

In [57]:
#26.  Write a code to create a list, a tuple, and a dictionary, and print them all?

List = [2, 2.5, 2+9j, None, True, "Darshil Mathur"]
Tuple = (1, 2, 3, "Darshil", "Prince", "Divyansh")
Dictonary = {"Name": "Darshil Mathur", "Age": "20", "Gender": "Male", "City": "Ahmedabad"}

print("List =", List)
print("Tuple =", Tuple)
print("Dictonary =", Dictonary)

List = [2, 2.5, (2+9j), None, True, 'Darshil Mathur']
Tuple = (1, 2, 3, 'Darshil', 'Prince', 'Divyansh')
Dictonary = {'Name': 'Darshil Mathur', 'Age': '20', 'Gender': 'Male', 'City': 'Ahmedabad'}

In [58]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)?

import random 

Numbers = random.sample(range(1, 101), 5)
Numbers.sort()
print("Sorted List =", Numbers)

Sorted List = [1, 3, 6, 64, 72]

In [61]:
#28.  Write a code to create a list with strings and print the element at the third index?

Fruits=["Apple","Kiwi","Banana","Mango","Grapes"]
Fruits[3]

'Mango'

In [66]:
#29. Write a code to combine two dictionaries into one and print the result?

Dict1 = {"Name": "Darshil Mathur","Age":21}
Dict2 = {"Country":"India","City":"Ahmedabad"}
dict = {**Dict1, **Dict2}
print(dict)

{'Name': 'Darshil Mathur', 'Age': 21, 'Country': 'India', 'City': 'Ahmedabad'}

In [67]:
#30.Write a code to convert a list of strings into a set?

Fruits_in_Bag = ["Banana", "Grapes", "Pineapple", "Chicko", "Custord Apple"]
set = set(Fruits_in_Bag)
print(set)

{'Grapes', 'Custord Apple', 'Pineapple', 'Chicko', 'Banana'}